body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 40px;
}

h2, h3, h4 {
    font-weight: 200;
    margin-top: 0;
    letter-spacing: 1px;
}

h2 span, h3 span, h4 span {
    font-weight: 900;
}

p {
    font-size: 15.57px;
    line-height: 28px;
    margin-bottom: 0;
}

a, input, textarea {
    font-size: 16.57px;
}

a {
    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    border-radius: 10px;
    padding: 15px 0;
    display: block;
    margin-top: 50px;
    max-width: 210px;
    text-align: center;
}

.span {
    display: block;
}

.beige a {
    color: #000000;
    border: 1px solid #000000;
}

button {
    display: block;
    background-image: url("../img/menu.svg");
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: none;
    margin-bottom: 64px;
}

.grid {
    display: grid;
    grid-template-areas: "a a a a a a b b b"
                        "c c c c d d d d d"
                        "c c c c e e e e e"
                        "f f f g g g g g g";
}

.header {
    background-image: url("../img/bg.png") ;
    grid-area: a;
}

.gray {
    background-color: #f3f3f3;
    grid-area: b;
}

.blue {
    background-image: url("../img/bg-blue.png");
    grid-area: c;
}

.beige {
    background-image: url("../img/beige.png");
    grid-area: d;
}

.black {
    background-image: url("../img/black.png");
    grid-area: e;
}

.human {
    background-image: url("../img/human.png");
    grid-area: f;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 715px;
}

.green {
    background-image: url("../img/green.png");
    grid-area: g;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 715px;
}

.header, .blue, .beige, .black, .human, .green {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gray, .blue, .beige, .black, .human, .green {
    padding: 60px 55px 70px 55px;
}

.blue, .black, .human, .green {
    color: #ffffff;
}

.blue > div {
    margin-bottom: 70px;
}

.form {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form textarea {
    width: 100%;
    min-height: 124px;
}

.form input, .form textarea {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 18px 15px;
}

.form input {
    width: calc(48% - 30px);
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #ffffff;
}

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
    color: #ffffff;
}

.form input:-moz-placeholder, .form textarea:-moz-placeholder {
    color: #ffffff;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
    color: #ffffff;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.list > li > a {
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    border: none;
    margin-right: 10px;
    margin-top: 0;
}

.list-fb {
    background-image: url("../img/Facebook.png");
}

.list-dr {
    background-image: url("../img/Dribble.png");
}

.list-tw {
    background-image: url("../img/Twitter.png");
}

.logo {
    display: block;
    margin-bottom: 25px;
    background-size: cover;
    width: 90px;
    height: 90px;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
}
